/*Global css settings--------------------------------------------------------------------*/
body {
    font-family: Verdana, Arial;
    font-size: 10pt;
    margin: 0px;
    padding: 0px;
}

header, footer, hgroup, nav, section {
    display: block;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

a {
    text-decoration: none;
    color: #0e8297;
}
/*login page layout--------------------------------------------------------------------------*/
.welcome-image {
    text-align: center;
    padding-top: 1%;
    width: 100%;
    z-index: 1;
}

ul.remember-me {
    position:relative;
    text-align: center;
}

ul.remember-me li {
    display: inline;
    list-style: none;
}

ul.inputs li {
    display: inline;
    list-style: none;
}

ul.inputs li label {
    width: 18%;
    display: inline-block;
}

.required-field-container {
    width: 80%;
    margin: 0px;
    display: inline-block;
}

    .required-field-container input[type=text], input[type=password] {
        width: 80%;
        margin-left: 8%;
        margin-bottom: 5px;
    }

.required-field-identifier {
    width: 81%;
    margin-left: 8%;
    height: 5px;
    background-color: #f00;
}

.required-field-hidden {
    margin-left: 25%;
    visibility:hidden;
}

fieldset.signup-fieldset {
    width: 90%;
    margin-left: 10%;
}

fieldset.login-fieldset {
    width: 45%;
    margin-left: 5%;
}

fieldset.login-fieldset,
fieldset.signup-fieldset {
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-width: medium;
    border-color: #e2e2e2;
}

    fieldset.login-fieldset legend,
    fieldset.signup-fieldset legend {
        color: #979797;
        font-style: italic;
    }

    fieldset.login-fieldset input[type=submit],
    fieldset.signup-fieldset input[type=submit] {
        float: right;
        margin-right: 15%;
    }

p.signup {
    margin-top: 4%;
    margin-left: 7%;
}

form.signup {
    width: 50%;
    display: inline-block;
}

/*drawing page layout----------------------------------------------------------------------*/
.left-border {
    display: inline;
    background-color: #000;
}

/*Navigation Partial layout----------------------------------------------------------------*/
nav ul li {
    display: inline;
    list-style: none;
    margin: 5px;
    color: #979797;
}

    nav ul li a {
        font-size: 14px;
        text-decoration: none;
        color: #979797;
        margin-right: 10px;
        margin-left: 10px;
        z-index: 3;
        font-weight: 600;
    }

    nav ul li a:hover {
        font-size: 14px;
        color: #fff;
        font-weight: 600;
        border-bottom: 5px solid #76ed00;
        margin-right: 10px;
        margin-left: 10px;
        z-index: 3;
    }

    nav ul li a:active {
        border-bottom: 5px solid #5d9624;
    }

/*Header Strip layout-----------------------------------------------------------------------*/
#header-strip {
    background-color: #000;
    position: absolute;
    top: 0px;
    height: 40px;
    width: 100%;
    display: inline;
    z-index: 3;
}

#page-info {
    color: #5d9624;
    font-size: 14px;
    font-weight: 600;
    z-index: 5;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

/*Footer layout-------------------------------------------------------------------------------*/
footer {
    color: #979797;
    display: block;
    width: 100%;
    height: 45px;
    position: absolute;
    text-align:center;
    bottom: 0;
    background-color: #000;
    z-index: 8;
}

/*Drawing Pane layout----------------------------------------------------------------------*/
#drawing-pane {
    background-color: #000;
    color: #979797;
    display: inline-block;
    width: 20%;
    height: 88%;
    margin-bottom: 5%;
    position: absolute;
    top: 40px;
    left: 0px;
    z-index: 3;
}

    #drawing-pane table {
        margin-left: 4%;
        width: 90%;
    }

    #drawing-pane table thead tr th {
        color: #fff;
        font-size: 16px;
        padding-bottom: 10px;
        border-bottom: 3px solid #00b1ff;
    }

    #drawing-pane table thead tr td {
        width: 20px;
        height: 20px;
    }
/*Drawing Canvas layout-------------------------------------------------------------------*/
#drawing-page {
    background-color: #e2e2e2;
    position: absolute;
    top: 40px;
    right: 0px;
    width: 80%;
    height: 88%;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 4;
}
/*Debugging CSS---------------------------------------------*/
#position {
    color: #979797;
    font-weight:700;
    float: right;
    margin-right: 5%;
    bottom: 5px;
}