/*Global css settings--------------------------------------------------------------------*/
body {
    font-family: Arial, Verdana;
    color: #ffffff;
    font-size: 11pt;
    margin: 0px;
    padding: 0px;
    background-color: #e2e2e2;
}

header, footer, hgroup, section {
    display: block;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.highlight {
    color: #76ed00;
}

    .highlight:active {
        color: #5d9624;
    }

.highlight {
    color: #76ed00;
}

    .highlight:active {
        color: #5d9624;
    }

.overlay {
    z-index: -3;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.6;
    position: fixed;
    top: 0px;
    left: 0px;
}

#backgroundClipper {
    z-index: -5;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

/*login page layout--------------------------------------------------------------------------*/
#accountHeader {
    display: inline-block;
    position: absolute;
    left: 100px;
    top: 65px;
}

.validationForm {
    position: absolute;
    left: 340px;
    top: 3px;
    color: #ef0000;
}

#loginForm,
#signupForm {
    display: inline-block;
    position: absolute;
    left: 130px;
    top: 125px;
}

#loginForm {
    visibility: collapse;
}

    #loginForm fieldset .form {
        height: 240px;
    }

    .validationForm,
    #signupForm fieldset .form,
    #loginForm fieldset .form {
        width: 300px;
        margin-bottom: -5%;
        border-radius: 20px;
        background-color: rgba(0, 0, 0, 0.45);
        padding: 5px 5px 5px 0px;
    }

    #signupForm .actionButton,
    #loginForm .actionButton {
        text-align: center;
        z-index: 5;
        position: relative;
    }

#signupForm {
    visibility: visible;
}

    #signupForm fieldset .form {
        height: 360px;
    }

    #signupForm .header {
    }

    #signupForm .actionButton {
        text-align: center;
    }

ul.remember-me {
    position: absolute;
    margin-top: 5%;
    text-align: center;
}

    ul.remember-me input[type=checkbox] input[type=hidden] {
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.20);
    }

    ul.remember-me li {
        display: inline;
        list-style: none;
    }

ul.inputs li {
    display: inline;
    list-style: none;
}

#signupForm .form ul.inputs li input[type=text], input[type=password],
#loginForm .form ul.inputs li input[type=text], input[type=password] {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.20);
    margin: 15px 0px 10px 0px;
    height: 30px;
    width: 230px;
    color: #ffffff;
    font-weight: 600;
    font-size: 12pt;
}

#signupForm .form ul.inputs li .lblUsername, .lblPassword,
#loginForm .form ul.inputs li .lblUsername, .lblPassword {
    color: #ffffff;
    font-size: 12pt;
}

fieldset.signup-fieldset,
fieldset.login-fieldset {
    border: none;
}

#loginForm fieldset input[type=submit],
#signupForm fieldset input[type=submit] {
    border: none;
    width: 200px;
    height: 40px;
    color: #ffffff;
    font-family: Arial;
    font-size: 16pt;
    font-weight: 400;
    border-radius: 5px 5px;
    background-image: -webkit-linear-gradient(top, rgb(0,127,0) 15%, rgb(4,195,4) 100%);
}

.linkContainer {
    text-align: center;
}

a.accountLink {
    text-decoration: none;
    color: #ffffff;
    z-index: 3;
    width: 300px;
    text-align: center;
    font-weight: 400;
    position: absolute;
    margin-top: 10px;
}

.required {
    color: #ff0000;
    font-weight: 600;
}

/*drawing page layout----------------------------------------------------------------------*/
.left-border {
    display: inline;
    background-color: #000;
}

/*Drawing Pane layout----------------------------------------------------------------------*/
#drawing-pane {
    background-color: #000;
    color: #979797;
    display: inline-block;
    width: 10%;
    height: 89%;
    margin-bottom: 5%;
    position: absolute;
    top: 50px;
    left: 0px;
    z-index: 3;
}

    #drawing-pane table {
        margin-top: 5%;
        margin-left: 4%;
        width: 90%;
    }

        #drawing-pane table thead tr th {
            color: #fff;
            padding-bottom: 10px;
            border-bottom: 3px solid #5d9624;
        }

        #drawing-pane table thead tr td {
            width: 20px;
            height: 20px;
        }

        #drawing-pane table tbody tr td img {
            display: inline-block;
            margin: 5% 5% 0% 20%;
        }

        #drawing-pane table tbody tr td p {
            display: block;
            text-align: center;
            -webkit-user-select: none;
        }

/*Drawing Canvas layout-------------------------------------------------------------------*/
#drawing-page {
    background-color: #e2e2e2;
    position: absolute;
    top: 50px;
    right: 0px;
    width: 90%;
    height: 89%;
    z-index: 4;
}

    #drawing-page::selection {
        cursor: default;
    }

/*Debugging CSS---------------------------------------------*/
.debug {
    color: #979797;
    font-weight: 700;
    float: right;
    margin-right: 5%;
    bottom: 5px;
    display: inline;
}
