/*Global css settings--------------------------------------------------------------------*/
body {
    font-family: Verdana, Arial;
    font-size: 11pt;
    margin: 0px;
    padding: 0px;
    background-color: #e2e2e2;
}

header, footer, hgroup, section {
    display: block;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.highlight {
    color: #76ed00;
}

    .highlight:active {
        color: #5d9624;
    }

.highlight {
    color: #76ed00;
}

    .highlight:active {
        color: #5d9624;
    }

/*home page layout-------------------------------------------------------------------------*/
.pageBanner {
    position: relative;
    top: 59px;
    width: 100%;
    overflow: hidden;
}

    .pageBanner img {
        width: 101%;
    }

.homeheading1 {
    left: 10%;
}

.homeheading2 {
    right: 25.5%;
}

.homeheading1,
.homeheading2 {
    margin-top: 7px;
    position: absolute;
}


.homeInfo1 {
    left: 10%;
}

.homeInfo2 {
    right: 10%;
}

.homeInfo1,
.homeInfo2 {
    border-style: solid;
    border-width: 3px;
    border-bottom-style: none;
    border-top-style: none;
    background-color: #f5f5f5;
    position: absolute;
    height: 337.5px;
    overflow-x: hidden;
    overflow: auto;
    width: 32%;
    padding: 2%;
    top: 392px;
}

    .homeInfo1 p:first-child:first-letter,
    .homeInfo2 p:first-child:first-letter,
    .loginInfo p:first-child:first-letter {
        float: left;
        color: #558624;
        font-size: 75px;
        line-height: 60px;
        padding-top: 4px;
        padding-right: 8px;
        font-family: "Arial Black";
    }

/*login page layout--------------------------------------------------------------------------*/
.loginInfo {
    background-color: #f5f5f5;
    border-style: solid;
    border-width: 3px;
    border-bottom-style: none;
    border-top-style: none;
    position: absolute;
    width: 30%;
    height: 337.5px;
    overflow-x: hidden;
    overflow: auto;
    padding: 2%;
    top: 392px;
    right: 10%;
}

ul.remember-me {
    position: relative;
    text-align: center;
}

    ul.remember-me li {
        display: inline;
        list-style: none;
    }

ul.inputs li {
    display: inline;
    list-style: none;
}

    ul.inputs li label {
        width: 20%;
        display: inline-block;
    }

.required-field-container {
    width: 78%;
    margin: 0px;
    display: inline-block;
}

    .required-field-container input[type=text], input[type=password] {
        width: 80%;
        margin-left: 8%;
        margin-bottom: 5px;
    }

.required-field-identifier {
    width: 81%;
    margin-left: 8%;
    height: 5px;
    background-color: #f00;
}

.required-field-hidden {
    margin-left: 25%;
    visibility: hidden;
}

fieldset.signup-fieldset {
    width: 90%;
    margin-left: 20%;
    top: 35px;
    position: relative;
    border: none;
}

fieldset.login-fieldset {
    width: 44%;
    top: 380px;
    position: absolute;
    margin-left: 10%;
    border: none;
}

fieldset.login-fieldset,
fieldset.signup-fieldset {
    margin-top: 3%;
}

.legendInfo {
    background-color: #000000;
    position: relative;
    top: 56px;
    height: 50px;
}

.loginheading {
    position: absolute;
    margin-top: 4px;
    left: 10%;
}


fieldset.login-fieldset input[type=submit],
fieldset.signup-fieldset input[type=submit] {
    float: right;
    margin-right: 15%;
}

p.signup {
    margin-top: 4%;
    margin-left: 7%;
}

form.signup {
    width: 50%;
    display: inline-block;
}

a.login {
    text-decoration: none;
    color: #ff0000;
    z-index: 3;
    font-weight: 200;
}

    a.login:hover {
        color: #000000;
        font-weight: 200;
        border-bottom: 5px solid #76ed00;
        margin-right: 10px;
        z-index: 3;
    }

    a.login:visited {
        color: #000000;
    }

.loginhighlight {
    color: #59a50d;
    font-weight: 600;
}

/*drawing page layout----------------------------------------------------------------------*/
.left-border {
    display: inline;
    background-color: #000;
}

/*Navigation Strip layout-----------------------------------------------------------------------*/
#navigation-strip {
    background-color: #000;
    position: absolute;
    top: 0px;
    height: 60px;
    width: 100%;
    display: inline;
    z-index: 99;
}

    #navigation-strip #homeLogo {
        margin-left: 10%;
        margin-top: 1%;
    }

nav {
    display: inline-block;
    float: right;
    top: 25px;
    right: 10%;
    position: relative;
}

    nav ul li {
        display: inline;
        list-style: none;
        color: #979797;
    }

        nav ul li a {
            text-decoration: none;
            color: #979797;
            margin-right: 10px;
            z-index: 3;
            font-weight: 200;
            bottom: 0px;
            position: relative;
        }

            nav ul li a:hover {
                color: #fff;
                font-weight: 200;
                border-bottom: 5px solid #76ed00;
                margin-right: 10px;
                z-index: 3;
            }

            nav ul li a:active {
                color: #979797;
                border-bottom: 5px solid #5d9624;
            }

#current-information {
    float: right;
    margin-right: 3%;
    margin-top: 0.8%;
    color: #979797;
    z-index: 3;
    font-weight: 600;
}

/*Footer layout-------------------------------------------------------------------------------*/
footer {
    color: #979797;
    display: block;
    width: 100%;
    height: 45px;
    position: absolute;
    text-align: center;
    bottom: 0;
    background-color: #000;
    z-index: 8;
}

/*Drawing Pane layout----------------------------------------------------------------------*/
#drawing-pane {
    background-color: #000;
    color: #979797;
    display: inline-block;
    width: 10%;
    height: 89%;
    margin-bottom: 5%;
    position: absolute;
    top: 50px;
    left: 0px;
    z-index: 3;
}

    #drawing-pane table {
        margin-top: 5%;
        margin-left: 4%;
        width: 90%;
    }

        #drawing-pane table thead tr th {
            color: #fff;
            padding-bottom: 10px;
            border-bottom: 3px solid #5d9624;
        }

        #drawing-pane table thead tr td {
            width: 20px;
            height: 20px;
        }

        #drawing-pane table tbody tr td img {
            display: inline-block;
            margin: 5% 5% 0% 20%;
        }

        #drawing-pane table tbody tr td p {
            display: block;
            text-align: center;
            -webkit-user-select: none;
        }

/*Drawing Canvas layout-------------------------------------------------------------------*/
#drawing-page {
    background-color: #e2e2e2;
    position: absolute;
    top: 50px;
    right: 0px;
    width: 90%;
    height: 89%;
    z-index: 4;
}

    #drawing-page::selection {
        cursor: default;
    }

/*Debugging CSS---------------------------------------------*/
.debug {
    color: #979797;
    font-weight: 700;
    float: right;
    margin-right: 5%;
    bottom: 5px;
    display:inline;
}
