@model Plan4Green.Models.ViewModels.BSObjectViewModel

@{
    ViewBag.Page = "CanvasView";
    Html.RenderPartial("DrawingPanePartial");
}

<body>
    @using (Html.BeginForm("Logout", "Login", FormMethod.Post, new { enctype = "multipary/form-data" }))
    {
        @Html.AntiForgeryToken()
        <input type="submit" value="Log Out" id="logout-action" />
    }

    <div class="instructions">
        <a id="instruction-title" href="#">What to do next...</a>
        <ul>
            <li id="instruction-number">1</li>
            <li id="instruction-text">Please Drag and Drop a Perspective (the blue icon) onto the canvas.</li>
        </ul>
    </div>

    <div id="drawing-page">
    </div>

    <p id="position" class="debug"></p>
    <p id="status" class="debug"></p>

    @Styles.Render("~/Content/theme/base/plan4Green/js.ui.canvas.css")
    @Scripts.Render("~/Scripts/plan4Green/bsLogic/types.js",
"~/Scripts/plan4Green/siteLogic/ajaxOperations.js",
"~/Scripts/plan4Green/bsLogic/canvasObject.js",
"~/Scripts/plan4Green/bsLogic/graph.js",
"~/Scripts/plan4Green/bsLogic/bsCanvasPage.js")
</body>
