@model Plan4Green.Models.ViewModels.BSObjectViewModel

@{
    ViewBag.Page = "CanvasView";
    Html.RenderPartial("DrawingPanePartial");
}

<body>
    <div id="drawing-page">
    </div>

    <p id="position" class="debug"></p>
    <p id="status" class="debug"></p>

</body>

@Styles.Render("~/Content/theme/base/plan4Green/js.ui.canvas.css")
@Scripts.Render("~/Scripts/plan4Green/bsLogic/types.js",
"~/Scripts/plan4Green/animation.js",
"~/Scripts/plan4Green/bsLogic/canvasObject.js",
"~/Scripts/plan4Green/bsLogic/graph.js",
"~/Scripts/plan4Green/bsLogic/bsCanvasPage.js")