burn@model Plan4Green.ViewModels.BSObjectViewModel

@{
    ViewBag.Title = "CanvasView";
    Html.RenderPartial("DrawingPanePartial");
}

@Scripts.Render("~/Scripts/plan4Green/BSObjects.js", "~/Scripts/plan4Green/main.js")

<body onload="initialize()">
    <canvas id="drawing-canvas" onclick="drawPerspective()">
    </canvas>
</body>