@model Plan4Green.Models.ViewModels.BSObjectViewModel

@{
    ViewBag.Page = "CanvasView";
    Html.RenderPartial("DrawingPanePartial");
}

<body>
    @using (Html.BeginForm("Logout", "Login", FormMethod.Post, new { enctype = "multipary/form-data" }))
    {
        @Html.AntiForgeryToken()
        <input type="submit" value="Log Out" id="logout-action" />
    }

    <img id="viewParentImage" src="~/Images/controls/drawing-page/viewParent.png" />

    <p id="current-view-text">All Perspectives</p>

    <div id="drawing-page">
    </div>

    <div id="map-page">
        <table id="map-table">

        </table>
    </div>

    <canvas id="graph-canvas"></canvas>

    @Styles.Render("~/Content/theme/base/plan4Green/js.ui.canvas.css")
    @Scripts.Render("~/Scripts/plan4Green/siteLogic/ajaxOperations.js",
"~/Scripts/plan4Green/bsLogic/types.js",
"~/Scripts/plan4Green/bsLogic/bsValidation.js",
"~/Scripts/plan4Green/bsLogic/graph.js",
"~/Scripts/plan4Green/bsLogic/stoplight.js",
"~/Scripts/plan4Green/bsLogic/canvasObject.js",
"~/Scripts/plan4Green/bsLogic/strategyMap.js",
"~/Scripts/plan4Green/bsLogic/bsCanvasPage.js")
</body>
