@model Plan4Green.ViewModels.BSObjectViewModel

@{
    ViewBag.Page = "CanvasView";
    Html.RenderPartial("DrawingPanePartial");
}

<body >
    <div id="drawing-page">
    </div>
</body>

@Styles.Render("~/Content/theme/base/plan4Green/js.ui.canvas.css")
@Scripts.Render("~/Scripts/plan4Green/types.js", 
"~/Scripts/plan4Green/animation.js", 
"~/Scripts/plan4Green/canvasObject.js", 
"~/Scripts/plan4Green/graph.js", 
"~/Scripts/plan4Green/mainPage.js")