<section id="drawing-pane">
    <table border="0">
        <thead>
            <tr>
                <th colspan="3">Drawing Tools</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img id="perspective" src="~/Images/drawing-tools/perspective-thumb.png" draggable="true" />
                    <p>Perspective</p>
                </td>
            </tr>
            <tr>
                <td>
                    <img id="goal" src="~/Images/drawing-tools/goal-thumb.png" draggable="true" />
                    <p>Goal</p>
                </td>
            </tr>
            <tr>
                <td>
                    <img id="measure" src="~/Images/drawing-tools/measure-thumb.png" draggable="true" />
                    <p>Measure</p>
                </td>
            </tr>
            <tr>
                <td>
                    <img id="mapview" src="~/Images/drawing-tools/mapview-thumb.png" />
                    <p>Map View</p>
                </td>
            </tr>
        </tbody>
    </table>

    <p id="position" class="debug"></p>
    <p id="status" class="debug"></p>
</section>
