<section id="drawing-pane">
    @Styles.Render("~/Content/theme/base/plan4Green/js.ui.drawing-pane.css")

    <div id="info">
        <p id="organisation-name">Fictional Organisation</p>

        <ul id="perspective-info">
            Perspectives
        </ul>

        <ul id="goal-info">
            Goals
        </ul>

        <ul id="measure-info">
            Measures
        </ul>

    </div>
    <div id="tools">
        <table border="0">
            <tbody>
                <tr>
                    <td>
                        <img id="control-arrow" src="~/Images/controls/drawing-pane/dp-arrow-open.png" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <img id="perspective" src="~/Images/controls/drawing-pane/perspective-inactive.png" draggable="true" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <img id="goal" src="~/Images/controls/drawing-pane/goal-inactive.png" draggable="true" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <img id="measure" src="~/Images/controls/drawing-pane/measure-inactive.png" draggable="true" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

@Scripts.Render("~/Scripts/plan4Green/bsLogic/drawingPane.js")
