<section id="drawing-pane">
    @Styles.Render("~/Content/theme/base/plan4Green/js.ui.drawing-pane.css")

    <div id="info">
        <ul id="login-info">
            <li id="organisation-name">Fictional Organisation</li>
            <li id="user-name">Username</li>
        </ul>

        <table id="perspective-info">
            <thead class="viewHeader">
                <tr>
                    <td><a href="#">Perspectives</a></td>
                </tr>
            </thead>
            <tbody id="perspective-list">
            </tbody>
        </table>

        <table id="goal-info">
            <thead class="viewHeader">
                <tr>
                    <td><a href="#">Goals</a></td>
                </tr>
            </thead>
            <tbody id="goal-list">
            </tbody>
        </table>

        <table id="measure-info">
            <thead class="viewHeader">
                <tr>
                    <td><a href="#">Measures</a></td>
                </tr>
            </thead>
            <tbody id="measure-list">
            </tbody>
        </table>

    </div>
    <div id="tools">
        <table border="0">
            <tbody>
                <tr>
                    <td>
                        <img id="control-arrow" src="~/Images/controls/drawing-pane/dp-arrow-open.png" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <img id="perspective" src="~/Images/controls/drawing-pane/perspective-inactive.png" draggable="true" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <img id="goal" src="~/Images/controls/drawing-pane/goal-inactive.png" draggable="true" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <img id="measure" src="~/Images/controls/drawing-pane/measure-inactive.png" draggable="true" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    @Scripts.Render("~/Scripts/plan4Green/siteLogic/ajaxOperations.js", "~/Scripts/plan4Green/bsLogic/drawingPane.js")
</section>
