<section id="drawing-pane">
    @Styles.Render("~/Content/theme/base/plan4Green/js.ui.drawing-pane.css")

    <div id="info">
        <ul id="login-info">
            <li id="organisation-name">Fictional Organisation</li>
            <li id="user-name">Username</li>
        </ul>

        <div id="area">
            Navigation
        </div>

        <div id="info-tables" style="visibility: visible;">
            <table id="perspective-info">
                <thead class="viewHeader">
                    <tr>
                        <td>
                            <p>Perspectives</p>
                        </td>
                    </tr>
                </thead>
                <tbody id="perspective-list">
                </tbody>
            </table>

            <table id="goal-info">
                <thead class="viewHeader">
                    <tr>
                        <td>
                            <p>Goals</p>
                        </td>
                    </tr>
                </thead>
                <tbody id="goal-list">
                </tbody>
            </table>

            <table id="measure-info">
                <thead class="viewHeader">
                    <tr>
                        <td>
                            <p>Measures</p>
                        </td>
                    </tr>
                </thead>
                <tbody id="measure-list">
                </tbody>
            </table>
        </div>

        <div id="timeframe-info">
            <p>Time Frame Start</p>
            <input id="startFrame" type="date" />
            <p>Time Frame End</p>
            <input id="endFrame" type="date" />
            <br />
            <br />
            <input id="frameBtn" type="submit" value="Done" />
        </div>

        <div id="options-div">
            <a id="mapLink" href="#">View As Strategy Map</a>
            <a id="timeLink" href="#">Select Valid Time Frame</a>
        </div>

    </div>
    <div id="tools">
        <table border="0">
            <tbody>
                <tr>
                    <td>
                        <img id="control-arrow" src="~/Images/controls/drawing-pane/dp-arrow-open.png" title="Show Information Pane" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <img id="perspective" src="~/Images/controls/drawing-pane/perspective-inactive.png" title="Perspective" draggable="true" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <img id="goal" src="~/Images/controls/drawing-pane/goal-inactive.png" title="Goal" draggable="true" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <img id="measure" src="~/Images/controls/drawing-pane/measure-inactive.png" title="Measure" draggable="true" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    @Scripts.Render("~/Scripts/plan4Green/siteLogic/ajaxOperations.js", "~/Scripts/plan4Green/bsLogic/strategyMap.js", "~/Scripts/plan4Green/bsLogic/drawingPane.js")
</section>
