@if (Request.IsAuthenticated)
{
    <text>
    Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
    </text>
}

<section id="navigation-strip">
    <a href="@Url.Action("Home", "Home")">
        <img id="homeLogo" src="~/Images/home-logo.png" alt="Go back Home." />
    </a>
    <nav>
        <ul>
            <li>
                @if (ViewBag.Page != "Login" && ViewBag.Page != "Signup")
                {
                    <a href="@Url.Action("Login", "Login")">Get Started, <span class="highlight">Stranger</span></a>
                }
            </li>
        </ul>
    </nav>
</section>
