@if (Request.IsAuthenticated)
{
    <text>
    Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
    </text>
}

<section id="navigation-strip">
    <a href="@Url.Action("Home", "Home")">
        <img id="homeLogo" src="~/Images/home-logo.png" alt="Go back Home." />
    </a>
    <nav>
        <ul>
            @if (ViewBag.Page != "Login"
                && ViewBag.Page != "Signup"
                && ViewBag.Page != "CanvasView")
            {
                <li>

                    <a href="@Url.Action("Login", "Login")">Howdy, <span class="highlight">Stranger</span></a>

                </li>
            
                <li>
                    <strong>| </strong>
                </li>
            }

            @if (ViewBag.Page != "CanvasView")
            {
                <li>
                    <a href="@Url.Action("CanvasView", "BSObject")">This is a <span class="highlight">Demo</span></a>
                </li>
            }

            @if (ViewBag.Page == "CanvasView")
            {
                <li>
                    <a href="#">Fictional <span class="highlight">Organisation</span></a>
                </li>
            }
        </ul>
    </nav>
</section>
