@if (Request.IsAuthenticated)
{
    <text>
    Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
    </text>
}

<section id="navigation-strip">
    <img id="homeLogo" src="~/Images/home-logo.png" alt="Go back Home." />
    <nav>
        <ul>
            <li>
                @Html.ActionLink("LOG IN STRANGER", "Login", "Login")
            </li>
            <li>
        </ul>
    </nav>
</section>
