<header>
    <div class="top-bar">
        <div class="float-right">
            <h3 class="top-bar-text">@ViewBag.Title</h3>
        </div>
    </div>
    
    <div class="welcome-image">
        <img alt="Plan4Green" src="@Url.Content("~/Images/welcome-logo.png") "/>
    </div>
</header>