#drawing-pane {
    position: fixed;
    height: 100%;
    z-index: 5;
    display: inline;
}

    #drawing-pane #info {
        background-color: rgba(46, 46, 46, 0.99);
        position: fixed;
        height: 100%;
        width: 0px;
        left: 0px;
        top: 0px;
        display: none;
        font-size: 18pt;
        text-align: center;
    }

        #drawing-pane #info ul {
            margin: 0px;
            padding: 0px;
        }

        #drawing-pane #info #organisation-name {
            display: block;
            font-family: Aharoni;
            font-size: 24pt;
            margin: 25px 5px 25px 5px;
            max-width: 280px;
        }

        #drawing-pane #info #perspective-info {
            display: block;
            margin: 70px 5px 0px 5px;
        }

            #drawing-pane #info #perspective-info .viewHeader {
            }

            #drawing-pane #info #perspective-info .viewInfo {
            }

        #drawing-pane #info #goal-info {
            display: block;
            margin: 95px 5px 0px 5px;
        }

            #drawing-pane #info #goal-info .viewHeader {
            }

            #drawing-pane #info #goal-info .viewInfo {
            }

        #drawing-pane #info #measure-info {
            display: block;
            margin: 95px 5px 0px 5px;
        }

            #drawing-pane #info #measure-info .viewHeader {
            }

            #drawing-pane #info #measure-info .viewInfo {
            }

    #drawing-pane #tools {
        background-color: rgba(0, 0, 0, 0.90);
        width: 69px;
        padding: 5px;
        position: fixed;
        height: 100%;
        left: 0px;
        top: 0px;
    }

        #drawing-pane #tools table tbody tr td img {
            margin: 20px 10px 55px 10px;
        }
