/*Drawing Canvas layout-------------------------------------------------------------------*/
#drawing-page {
    background-image: -webkit-linear-gradient(bottom, rgb(115,114,115) 27%, rgb(207,207,207) 100%);
    position: fixed;
    bottom: 30px;
    right: 45px;
    width: 85%;
    height: 85%;
    z-index: 4;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    display: block;
}

#graph-canvas {
    background-color: rgb(115,114,115);
    position: fixed;
    right: 45px;
    bottom: 30px;
    border-radius: 5px;
    height: 85%;
    width: 85%;
    border-style: solid;
    display: none;
}

textarea {
    font-weight: 400;
    font-size: 12pt;
    font-family: Arial;
    width: 300px;
    height: 100px;
    border-style: none;
    color: #2e2e2e;
}

h1 {
    font-size: 20pt;
}

/*Debugging CSS---------------------------------------------*/
.debug {
    color: #ffffff;
    font-weight: 700;
    float: right;
    position: absolute;
    top: 15px;
    right: 180px;
}

/*Page controls--------------------------------------------------------*/
#current-view-text {
    left: 46%;
    position: absolute;
    bottom: 10px;
    z-index: 6;
    background: rgba(0, 0, 0, 0.9);
    margin: 5px;
    padding: 5px 25px;
    border-radius: 20px;
    font-size: 14pt;
}

#logout-action {
    background-color: rgba(0, 0, 0, 0.85);
    width: 130px;
    height: 40px;
    color: #ffffff;
    font-family: Arial;
    font-size: 16pt;
    font-weight: 400;
    position: absolute;
    top: 20px;
    right: 40px;
}

#viewParentImage {
    position: fixed;
    top: 75px;
    right: 20px;
    z-index: 16;
    height: 60px;
    width: 60px;
}

.instructions {
    height: 40px;
    color: #ffffff;
    font-family: Arial;
    position: absolute;
    top: 10px;
    left: 155px;
}

    .instructions ul {
        margin: 5px;
        padding: 0px;
    }

        .instructions ul li {
            padding: 0px 3px 0px 2px;
            display: inline;
            list-style: none;
        }

    .instructions #instruction-title {
        text-align: left;
        color: #ffffff;
        text-decoration: none;
        font-size: 12pt;
        padding: 5px 5px 0px 5px;
        font-weight: 600;
        display: block;
    }

    .instructions #instruction-number {
        text-align: center;
        background-color: rgba(0, 0, 0, 0.80);
        position: absolute;
        border-radius: 200px;
        width: 25px;
        font-weight: 600;
    }

    .instructions #instruction-text {
        text-align: left;
        position: absolute;
        left: 50px;
        width: 450px;
    }

/*Individual canvas objects-----------------------------------------*/
.canvasObject {
    display: inline;
    position: absolute;
    width: 410px;
    min-height: 150px;
    z-index: 3;
    background-color: rgba(178, 178, 178, 0.50);
    border-radius: 15px;
    border-color: grey;
    border-style: solid;
}

    .canvasObject:hover {
        background-color: rgba(178, 178, 178, 1);
        border-radius: 15px;
    }

.perspectiveHeading {
    position: absolute;
    background-color: #ffffff;
    font-size: 25px;
    top: 5%;
    left: 28%;
    text-align: center;
    -webkit-user-select: none;
}

ul[id$="bsControlList"] {
    clear: left;
    display: inline-block;
    list-style: none;
    margin: 0px;
    margin-left: 5px;
    padding: 0px;
    position: absolute;
    top: 15px;
}

    ul[id$="bsControlList"] li {
        text-align: center;
        padding-bottom: 5px;
    }

ul[id$="bsViewList"] {
    display: inline-block;
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 350px;
    margin-left: 60px;
    color: #151515;
}

    ul[id$="bsViewList"] p {
        margin-top: 20px;
    }

    ul[id$="bsViewList"] .viewHeading {
        padding-bottom: 0px;
        text-align: center;
    }

    ul[id$="bsViewList"] .viewItem {
        padding-bottom: 2px;
        text-align: center;
    }

        ul[id$="bsViewList"] .viewItem .viewDescription {
            overflow-x: hidden;
            overflow-y: scroll;
            height: 100px;
        }

        ul[id$="bsViewList"] .viewItem .bsItemDue {
            color: rgb(21, 21, 21);
            font-weight: 400;
            margin-top: -10px;
            position: absolute;
            margin-left: -50px;
        }


ul[id$="bsEditList"] {
    display: inline-block;
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 350px;
    margin-left: 60px;
    margin-top: -17px;
    color: #151515;
}

    ul[id$="bsEditList"] li {
    }

    ul[id$="bsEditList"] .viewHeading {
        padding-bottom: 0px;
        text-align: center;
    }

        ul[id$="bsEditList"] .viewHeading input[type=text] {
            color: #2e2e2e;
            margin-top: 30px;
            font-weight: 600;
        }


    ul[id$="bsEditList"] .viewItem {
        padding-bottom: 2px;
        text-align: center;
    }

        ul[id$="bsEditList"] .viewItem input[type=number],
        ul[id$="bsEditList"] .viewItem li input[type=date] {
            color: #2e2e2e;
            height: 25px;
            font-weight: 400;
            border-radius: 5px;
            margin-top: 0px;
            background-color: rgba(255, 255, 255, 0.20);
        }

        ul[id$="bsEditList"] .viewItem li input[type=number] {
            width: 150px;
            margin-bottom: 10px;
            width: 100px;
        }


        ul[id$="bsEditList"] .viewItem li input[type=date] {
            width: 180px;
            font-size: 12pt;
        }

        ul[id$="bsEditList"] .viewItem li label {
            font-weight: 600;
        }

.bsImage:hover {
    cursor: move;
}
