#drawing-pane {
    position: fixed;
    height: 100%;
    z-index: 5;
    display: inline;
}

    #drawing-pane #info {
        background-color: rgba(46, 46, 46, 0.99);
        position: fixed;
        height: 100%;
        width: 0px;
        left: 0px;
        top: 0px;
        display: none;
        font-size: 18pt;
        text-align: center;
    }

        #drawing-pane #info ul {
            margin: 0px;
            padding: 0px;
        }

            #drawing-pane #info ul li#organisation-name {
                display: block;
                font-family: Aharoni;
                font-size: 24pt;
                margin: 25px 5px 10px 5px;
                max-width: 280px;
            }

            #drawing-pane #info ul li#user-name {
                display: block;
                font-family: Arial;
                font-size: 14pt;
                margin: 5px 0px 25px 5px;
            }

        #drawing-pane #info table {
            position: absolute;
            width: 290px;
        }

            #drawing-pane #info table tbody {
                font-size: 12pt;
                text-align: left;
                overflow-x: hidden;
                overflow-y: visible;
                display: block;
                max-height: 105px;
            }

                #drawing-pane #info table tbody tr td.viewName {
                    margin-left: 15px;
                    background-color: #2b2b2b;
                    width: 220px;
                }

                #drawing-pane #info table tbody tr td.viewID {
                    margin-left: 15px;
                    background-color: #2b2b2b;
                    width: 40px;
                }


        #drawing-pane #info #perspective-info {
            top: 163px;
        }

            #drawing-pane #info #perspective-info li.viewHeader {
            }

            #drawing-pane #info #perspective-info .viewInfo {
            }

        #drawing-pane #info #goal-info {
            top: 319px;
        }

            #drawing-pane #info #goal-info .viewHeader {
            }

            #drawing-pane #info #goal-info .viewInfo {
            }

        #drawing-pane #info #measure-info {
            top: 477px;
        }

            #drawing-pane #info #measure-info .viewHeader {
            }

            #drawing-pane #info #measure-info .viewInfo {
            }

    #drawing-pane #tools {
        background-color: rgba(0, 0, 0, 0.90);
        width: 69px;
        padding: 5px;
        position: fixed;
        height: 100%;
        left: 0px;
        top: 0px;
    }

        #drawing-pane #tools table tbody tr td img {
            margin: 20px 10px 0px 10px;
        }

            #drawing-pane #tools table tbody tr td img#control-arrow {
                margin-bottom: 60px;
            }

            #drawing-pane #tools table tbody tr td img#perspective {
                margin-bottom: 90px;
            }

            #drawing-pane #tools table tbody tr td img#goal {
                margin-bottom: 90px;
            }

            #drawing-pane #tools table tbody tr td img#measure {
                margin-bottom: 0px;
            }
