.canvasObject {
    display: inline;
    position: absolute;
    z-index: 3;
}

    .canvasObject:hover {
        background-color: aliceblue;
    }

.perspectiveHeading {
    position: absolute;
    background-color: #ffffff;
    font-size: 25px;
    top: 5%;
    left: 28%;
    text-align: center;
    -webkit-user-select: none;
}

.perspectiveDescription {
    position: absolute;
    font-size: 16px;
    color: #979797;
    top: 28%;
    left: 10%;
    width: 60%;
    height: 38%;
    overflow: auto;
    text-align: left;
    -webkit-user-select: none;
}

.goalHeading {
    position: absolute;
    font-size: 25px;
    top: 4%;
    left: 28%;
    width: 43%;
    text-align: center;
    -webkit-user-select: none;
}

.goalDescription {
    position: absolute;
    font-size: 16px;
    color: #979797;
    top: 28%;
    left: 17.5%;
    width: 65%;
    height: 35%;
    overflow: auto;
    text-align: left;
    -webkit-user-select: none;
}

.goalStoplight {
}

.goalDue {
    position: absolute;
    font-size: 14px;
    color: #979797;
    bottom: 5%;
    left: 15%;
    width: 65%;
    text-align: center;
    -webkit-user-select: none;
}

.goalGraph {
}

.measureHeading {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.50);
    font-size: 25px;
    top: 10%;
    left: 15%;
    width: 70%;
    text-align: center;
    -webkit-user-select: none;
}

.measureDescription {
    position: absolute;
    background-color: rgba(255, 255, 0, 0.50);
    font-size: 16px;
    color: #979797;
    top: 30%;
    left: 15%;
    width: 70%;
    height: 38%;
    overflow: auto;
    text-align: left;
    -webkit-user-select: none;
}

.measureStoplight {
    position: absolute;
    background-color: red;
    bottom: 16%;
    height: 8%;
    left: 25%;
    width: 55%;
    text-align: right;
}

.measureDue {
    position: absolute;
    font-size: 14px;
    color: #979797;
    top: 23%;
    left: 15%;
    width: 70%;
    text-align: center;
    background-color: red;
    -webkit-user-select: none;
}

.measureTarget {
    position: absolute;
    font-size: 14px;
    color: #979797;
    bottom: 5%;
    left: 15%;
    width: 65%;
    text-align: center;
    background-color: red;
    -webkit-user-select: none;
}

.measureGraph {
}
